{
    "printWidth": 80,
    "tabWidth": 4,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 99,
                "singleQuote": false
            }
        }
    ]
}
